[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An Ecommerce web backend with spring
[access "refs/*"]
	owner = group user/Mohammad Sadegh Dehghan (MSDehghan)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohammad Sadegh Dehghan (MSDehghan)
	label-Verified = -1..+1 group user/Mohammad Sadegh Dehghan (MSDehghan)
	push = group user/Mohammad Sadegh Dehghan (MSDehghan)
	read = group user/Mohammad Sadegh Dehghan (MSDehghan)
	rebase = group user/Mohammad Sadegh Dehghan (MSDehghan)
	removeReviewer = group user/Mohammad Sadegh Dehghan (MSDehghan)
	submit = group user/Mohammad Sadegh Dehghan (MSDehghan)
[access "refs/heads/*"]
	create = group user/Mohammad Sadegh Dehghan (MSDehghan)
	push = +force group user/Mohammad Sadegh Dehghan (MSDehghan)
	pushMerge = group user/Mohammad Sadegh Dehghan (MSDehghan)
	read = group user/Mohammad Sadegh Dehghan (MSDehghan)
[access "refs/tags/*"]
	push = group user/Mohammad Sadegh Dehghan (MSDehghan)
	push = +force group user/Mohammad Sadegh Dehghan (MSDehghan)
